<mat-card>
  <mat-card-header>
    <mat-card-title>{{ receivedBlog.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{
        receivedBlog.content.length > 20
          ? receivedBlog.content.slice(0, 20) + "..."
          : receivedBlog.content
      }}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/detail', receivedBlog.id]"
    >
      View
    </button>
  </mat-card-actions>
</mat-card>
