main {
  width: 80%;
  margin: auto;
}

main {
  .intro {
    margin-top: 3em;
    div {
      text-align: right;
    }
  }
  .blogs {
    margin-top: 1em;
  }
}

@media only screen and (max-width: 767px) {
  .intro {
    div {
      mat-form-field {
        width: 100%;
      }
    }
  }
}
